<div class='title'>VM Stats</div>
<div class='node entry'><span class="name">node</span>: <span class="val">{{node}}</span></div>
<div class="proc-count entry"><span class="name">processes</span>: <span class="val">{{proc_count}}</span></div>
<div class="mem-total entry"><span class="name">memory</span>: <span class="val">{{mem_total}}</span></div>
<div class="runq entry"><span class="name">run queue</span>: <span class="val">{{run_queue}}</span></div>
<div class="reds entry"><span class="name">reductions</span>: <span class="val">{{reductions}}</span></div>
