<div class='title'>stats</div>
<div class='node entry'>node: <span class="val">{{node}}</span></div>
<div class="proc-count entry">processes: <span class="val">{{proc_count}}</span></div>
<div class="mem-total entry">memory: <span class="val">{{mem_total}}</span></div>
<div class="runq entry">run queue: <span class="val">{{run_queue}}</span></div>
<div class="reds entry">reductions: <span class="val">{{reductions}}</span></div>
